<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MemoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A511BE1D249C4DBF00D855B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A511BE33249C4DC100D855B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A511BE3E249C4DC100D855B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
